{% extends "ATGApp/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Write Review
{% endblock %}

{% block body_block %}

	{% if stadium %}
		<h1>Write a Review for: {{ stadium.name }}</h1>
		
		<p>
		Please rate your experience at {{stadium.name}} below. </br>
		The ratings you provide for each of the 3 categories 
		will be converted to a total score for the review. </br>
		The conversion used to calculate the score is as follows : 
		</br></br>
		Unacceptable: 1</br>
		Poor: 2<br>
		Satisfactory: 3</br>
		Good: 4</br>
		Excellent: 5</br></br>
		
		<form id="Review_form" method="post" action="{% url 'writeReview' stadium.slug %}" enctype="multipart/form-data">
			
			{% csrf_token %}
		
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				<label class=helpText>{{ field.help_text }}</label>
				{{ field }}
			{% endfor %}
			
			</br></br>
		
			<input type="submit" value="Submit Review"/>
		</form>
		
	{% else %}
		The stadium by this name does not exist on our records.<p>
	{% endif %}
{% endblock %}

 <!--<table>
            <tr>
                <th>Atmosphere</th>
                <th>Food</th>
                <th>Facilities</th>
            </tr>
            <tr>
                <td><input type="radio" name="Atmosphere" value="1">Very Poor<br></td>
                <td><input type="radio" name="Food" value="1">Very Poor<br></td>
                <td><input type="radio" name="Facilities" value="1">Very Poor<br></td>
            </tr>
            <tr>
                <td><input type="radio" name="Atmosphere" value="2">Poor<br></td>
                <td><input type="radio" name="Food" value="2">Poor<br></td>
                <td><input type="radio" name="Facilities" value="2">Poor<br></td>
            </tr>
            <tr>
                <td><input type="radio" name="Atmosphere" value="3">Average<br></td>
                <td><input type="radio" name="Food" value="3">Average<br></td>
                <td><input type="radio" name="Facilities" value="3">Average<br></td>
            </tr>
            <tr>
                <td><input type="radio" name="Atmosphere" value="4">Good<br></td>
                <td><input type="radio" name="Food" value="4">Good<br></td>
                <td><input type="radio" name="Facilities" value="4">Good<br></td>
            </tr>
            <tr>
                <td><input type="radio" name="Atmosphere" value="5">Very Good<br></td>
                <td><input type="radio" name="Food" value="5">Very Good<br></td>
                <td><input type="radio" name="Facilities" value="5">Very Good<br></td>
            </tr>
        </table>
        <br/>
        Please leave any other comments about your visit: (MAX 200 characters)<br/>
        Eg. How you got to the stadium, Helpfulness of staff, Availability of parking.<br/>
        <textarea name="message" rows="4" cols="40">(MAX 200 characters)</textarea>
        <br>-->